baseURL: https://blog.reywilliams.com/
languageCode: en-us
title: ReysCorner
theme: ["PaperMod"]

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

minify:
  disableXML: true
  minifyOutput: true

outputs:
  home:
    - HTML
    - RSS
    - JSON

params:
  env: production
  title: Rey's Corner
  description: "A dev's little corner of the internet"
  keywords: [Blog, Portfolio]
  author: "Rey Williams"
  images: ["/images/wide-angle-flat-mono.png"]

  DateFormat: "January 2, 2006"
  defaultTheme: dark
  disableThemeToggle: false

  ShowReadingTime: true
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: true
  ShowWordCount: true

  ShowRssButtonInSectionTermList: true # No RSS for now

  UseHugoToc: true
  disableSpecial1stPost: true
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  homeInfoParams:
    Title: "$ echo 'Hello!' \U0001F44B"
    Content: \> Welcome to my little corner of the internet

  socialIcons:
    - name: github
      url: "https://github.com/reywilliams"
    - name: linkedin
      url: "https://www.linkedin.com/in/rey-williams/"

  cover:
    hidden: true
    hiddenInList: true
    hiddenInSingle: true

  editPost:
    URL: "https://github.com/reywilliams/blog/tree/main/content"
    Text: "Suggest Changes"
    appendFilePath: true

  # ref: https://www.fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    limit: 10
    keys: ["title", "permalink", "summary", "content"]

menu:
  main:
    - name: Archive
      url: archive
      weight: 5
    - name: Search
      url: search/
      weight: 10
    - name: Tags
      url: tags/
      weight: 10
    - name: $ whoami
      url: whoami
      weight: 15

pygmentsUseClasses: true
markup:
  highlight:
    noClasses: false
  goldmark:
    renderer:
      unsafe: true

caches:
  images:
    dir: :cacheDir/images
